In [5]:
import pandas as pd
import pyarrow.parquet as pq

In [ ]:
advances = pq.read_table('data/advances.parquet')
advances_df = advances.to_pandas()
advances_df.head()

,request_id,underwritten_at,disbursed_at,amount,user_id
0,b'-\xf1\x07\x97\xc6)M\xda\x9c\xe4\x03{}N.M',2024-11-22 17:41:16.852959,2024-11-22 19:45:23.424420,25.000000,b'\x94\xf7\xe5\xccL\xacG\xb0\x9emn\xdc\x86(\x1...
1,"b""\x8a\xa7T\x94\x98\xe1N\xcf\x98'\xe3\xe1\xeb\...",2025-02-12 14:25:34.060244,2025-02-12 15:48:40.796549,25.000000,b'\x86x\xc3\x9aX\x04K\xe8\x93\x95\xcd\xfb! q%'
2,"b'\xf0i\x93\x03""\xeaB\x94\xbe\xda\xd7O\xf5\xaa...",2025-03-14 15:58:58.309632,2025-03-14 18:56:25.940474,25.000000,b'\xb6:\x85\xa7TyI\x8f\x8e\xd2!d%\x12\x92]'
3,b'1\x9fy\x14\xba\x95E\x12\xa2\x00\x90\x86\xd5\...,2024-11-22 19:54:14.267373,2024-11-23 00:44:50.093139,25.000000,b'f\xf3\xb42\xc9\xfeH\xd5\xa0\xb7p[\xa4\x05c\xf1'
4,b'Nt\xa9\xaa\xe5\xa0@N\x85\x90\xf6\xbe\x06x\x1...,2025-03-20 22:33:59.727517,2025-03-20 23:23:32.324881,25.000000,b'\xf2\xa9\x96\xa5P\xf0G1\xa9ho{\xee?\x86W'

In [26]:
print(advances_df['user_id'].nunique())

16691

In [15]:
applications = pq.read_table('data/applications.parquet')
applications_df = applications.to_pandas()
applications_df.head()

,application_id,user_id,created_at
0,b'\xbe\xccT\x08\xc7oLv\xa9$3j\xb0\x8b.t',b'\x80\x89\xc3\xe0oJGE\x9a9\xf9(T\xf1\xc1\xbe',2025-06-17 23:33:12.690850
1,"b""'g)4\x1b>K\x90\x82\xb6+\xbe\xe6\x10\xad\xfe""",b'\xb0\xbe(K\xa2!C\xd1\x8a\x8b\xd3m\xee\xb0\x1...,2025-02-23 14:15:59.165958
2,b'\x86$\xe67\xf8\x91A#\x90g\xe1\xb1\x89\x7f\xea4',b'\xa0\x045$\xf1\x1aI\x88\xae+6\x13X\xeb`X',2025-08-09 22:28:09.247067
3,b'\x7f\x9a>\xcd\xdd\xf0Bz\x8cfr\x91\xa5\xb2\\3',b'\x14p\x0c7\xb1\xffM+\xa1!\x87\x82\x84\x19\xefK',2025-06-13 21:02:32.095727
4,b'\xe867\xab|\\@\xa1\xae\x92b\x8a\x0f\xcd\xe0\...,b'\xba\xd79\xc2\xde\xc8J]\x86\x96\x90I\xc3\xe6...,2025-02-16 06:42:26.110627

In [27]:
print(applications_df['user_id'].nunique())

24576

In [13]:
balances = pq.read_table('data/balances.parquet')
balances_df = balances.to_pandas()
balances_df.head()

,user_id,updated_at,available_balance,current_balance
0,b'\x8c\xa9\t\xc0t\x00E\xf8\x85z\xab\x1e\xac!l%',2025-04-16 13:22:55.650835,136.150000,149.550000
1,b'\xb5^\xe8\x99\xa7\x04H_\xa5\xb7\xf1C|\xdd\x9...,2025-04-16 13:22:58.218194,-45.220000,4.780000
2,b'\x95F\xc6\x08\xae\x8fGa\x8av\x11T\xd1\xbc(\xf6',2025-04-16 13:23:08.555041,-12.770000,-12.770000
3,b'\x95F\xc6\x08\xae\x8fGa\x8av\x11T\xd1\xbc(\xf6',2025-04-16 13:23:16.301597,-12.770000,-12.770000
4,b'\x95F\xc6\x08\xae\x8fGa\x8av\x11T\xd1\xbc(\xf6',2025-04-16 13:23:34.594207,-12.770000,-12.770000

In [14]:
labels = pq.read_table('data/labels.parquet')
labels_df = labels.to_pandas()
labels_df.head()

,advance_id,repaid_full_30d,repaid_pct_30d,days_to_first_repay
0,"b'y\xf1D\xeb\x04\xffO\\\x84Or""\xc6\x87t\xed'",True,2.0,b'\x00\x00\x00\x00\x06\x00\x00\x00\xcfz\xb0\x01'
1,b'\x05\x07\x96\xbe2sE2\x80\x11\xde\x88\xea\x9d...,True,2.0,b'\x00\x00\x00\x00\r\x00\x00\x00y\xd6\xd1\x02'
2,b'sf1\xfdC\\AW\x86)W\xe6\xb9\xdb\xe8<',True,2.0,b'\x00\x00\x00\x00\x00\x00\x00\x00\n\xdd\xfa\x04'
3,b'\x9b~:\xb5\xdb\xd6Nh\x9e\xb0[\xcb\xa7QId',True,2.0,b'\x00\x00\x00\x00\x01\x00\x00\x00:\x07c\x04'
4,b'\x9c!\x91/\xa91M\x12\xb7\xf7\xeb\xd3o\x00\xd...,True,2.0,b'\x00\x00\x00\x00\x05\x00\x00\x00\x1f\xaf\x04...

In [17]:
transactions = pq.read_table('data/transactions_sample.parquet')
transactions_df = transactions.to_pandas()
transactions_df.head()

,id,user_id,date,authorized_date,created_at,primary_category,detailed_category,amount,merchant_name,name,original_description
0,b'\x13C\\Q:\xf2H7\xafi\x04\xe2\x058\xa1N',b'\xf4.\x83\xfc\t\x1dO\xde\x8aG\xde\x12\xf9\x8...,2025-07-04,2025-07-04,2025-07-05 19:30:24.269317,ENTERTAINMENT,ENTERTAINMENT_CASINOS_AND_GAMBLING,25.00,FanDuel,Fanduelcasprimary,Fanduelcasprimary
1,b'lm{i%OB\x16\x8e\xa9\x90\x86\x9cA\xde\x13',"b'\xce\xcbvY\xaaaF\xbd\xac=\x15""\t\xf9Q\x7f'",2025-06-12,2025-06-12,2025-07-07 04:37:56.929411,TRANSPORTATION,TRANSPORTATION_TAXIS_AND_RIDE_SHARES,11.31,Uber,Uber,PURCHASE AUTHORIZED ON 06/11 Uber Technologies...
2,b'\x1cy\x8bT\xc1]E>\xaco\xdd\x029\xff\x19<',b'J\xba|:Y\x9dD\xe4\x92G\x0b\xe4C\xa2\xbf\xa2',2025-07-07,2025-07-03,2025-07-08 11:04:30.245787,FOOD_AND_DRINK,FOOD_AND_DRINK_GROCERIES,64.98,Gopuff,GO PUFF*GB LIC. US <PHONE_NUMBER> PA <ID> DEBI...,GO PUFF*GB LIC. US <PHONE_NUMBER> PA <ID> DEBI...
3,b'\xc0\x9b]D\xb8\x92@\x1b\xa1\xce\x98U+\xb6\x93w',b'\xe4@\xbf1\xb1\xd7E\x1a\x9bk5\xec\r/c\xbb',2025-07-07,2025-07-07,2025-07-08 10:14:59.211957,FOOD_AND_DRINK,FOOD_AND_DRINK_RESTAURANT,43.81,Chic Lady,Point of Sale Debit L340 DATE 07-03 CHIC LADY ...,Point of Sale Debit L340 DATE 07-03 CHIC LADY ...
4,b'\xc62\x00Q\xea\x88BS\xa2\xc661\xea\xc6u\xdb',b'@\xf4\xe6\x0f\xa0\x89G*\x8b_\x92\xa1\x11c;\x80',2025-01-27,2025-01-27,2025-03-04 00:15:24.820035,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,138.03,This Little Piggy,This Little Piggy,This Little Piggy

In [19]:
dfs = {
    'advances': advances_df,
    'applications': applications_df,
    'balances': balances_df,
    'labels': labels_df,
    'transactions': transactions_df
}

In [21]:
for df in dfs.values():
    print(df.size)

289790
150000
31312988
218464
25192068

In [22]:
for name, df in dfs.items():
    print(f'Data Structure of {name}:')
    for column in df.columns:
        print(f'Column: {column}, Type: {df[column].dtype}')

Data Structure of advances:
Column: request_id, Type: object
Column: underwritten_at, Type: datetime64[us]
Column: disbursed_at, Type: datetime64[us]
Column: amount, Type: object
Column: user_id, Type: object
Data Structure of applications:
Column: application_id, Type: object
Column: user_id, Type: object
Column: created_at, Type: datetime64[us]
Data Structure of balances:
Column: user_id, Type: object
Column: updated_at, Type: datetime64[us]
Column: available_balance, Type: object
Column: current_balance, Type: object
Data Structure of labels:
Column: advance_id, Type: object
Column: repaid_full_30d, Type: bool
Column: repaid_pct_30d, Type: float64
Column: days_to_first_repay, Type: object
Data Structure of transactions:
Column: id, Type: object
Column: user_id, Type: object
Column: date, Type: object
Column: authorized_date, Type: object
Column: created_at, Type: datetime64[us]
Column: primary_category, Type: object
Column: detailed_category, Type: object
Column: amount, Type: float64
Column: merchant_name, Type: object
Column: name, Type: object
Column: original_description, Type: object

In [ ]:
for name, df in dfs.items():
    print(f'Null values in {name}:')
    print(df.isnull().mean())

Null values in advances:
request_id         0.0
underwritten_at    0.0
disbursed_at       0.0
amount             0.0
user_id            0.0
dtype: float64
Null values in applications:
application_id    0.0
user_id           0.0
created_at        0.0
dtype: float64
Null values in balances:
user_id              0.000000
updated_at           0.000000
available_balance    0.015544
current_balance      0.000274
dtype: float64
Null values in labels:
advance_id             0.000000
repaid_full_30d        0.000000
repaid_pct_30d         0.000000
days_to_first_repay    0.056247
dtype: float64
Null values in transactions:
id                      0.000000
user_id                 0.000000
date                    0.000000
authorized_date         0.194182
created_at              0.000000
primary_category        0.000000
detailed_category       0.000000
amount                  0.000000
merchant_name           0.417612
name                    0.000000
original_description    0.007249
dtype: float64

### Data Cleaning

In [ ]:
# Get first advance per user

# Sort advances dataset by user ID and underwritten date (ascending order)
advances_sorted = advances_df.sort_values(['user_id', 'underwritten_at'])

# Get first record for each user only
first_advances = advances_sorted.groupby('user_id').first().reset_index()

first_advances.head(10)

first_advances.to_csv('data/first_advances.csv', index=False)

In [114]:
merged_df = first_advances.merge(labels_df, left_on='request_id', right_on='advance_id', how='inner')
merged_df.head()

,user_id,request_id,underwritten_at,disbursed_at,amount,advance_id,repaid_full_30d,repaid_pct_30d,days_to_first_repay
0,b'\x00\x04\xdb\x0b=BA\x99\x98\xbf2u\xbf4\xfe\xec',b'\xc4\x05z\xea\xa34F#\x8a\xb6\x88aO\x9c;\x00',2025-05-31 16:28:31.171053,2025-05-31 16:29:41.904823,25.000000,b'\xc4\x05z\xea\xa34F#\x8a\xb6\x88aO\x9c;\x00',True,1.0,b'\x00\x00\x00\x00\x04\x00\x00\x00m\xa1p\x01'
1,b'\x00\nGp=>F\x11\x9dO\x8b\xb9\xab\x9eH\x7f',b'\x1dPo\x95\xe0.A\n\x82\xdf\x89Hp\xe3\xa9=',2025-05-27 09:26:12.127189,2025-05-27 09:27:17.287309,25.000000,b'\x1dPo\x95\xe0.A\n\x82\xdf\x89Hp\xe3\xa9=',True,1.0,b'\x00\x00\x00\x00\x01\x00\x00\x00\xbb\x85_\x03'
2,b'\x00\n\xdbD\x1f\xc8B\xab\xa0\xc7*%\xa5a\x1e\...,b'\xa42k\x14\\\x8aN\xaa\x87\xf8\x1d\xe3\x04S\x...,2025-03-05 15:56:05.141169,2025-03-05 15:58:22.197805,25.000000,b'\xa42k\x14\\\x8aN\xaa\x87\xf8\x1d\xe3\x04S\x...,True,1.0,b'\x00\x00\x00\x00\x06\x00\x00\x00\xbd\x06\x04...
3,b'\x00\x0b\xa7\xe9G\xbaF\x93\xa5\xca\xc6|\xecA...,b'`\x0c\xff\xc3\xfeN@\xdc\x94)X\xd1R\x0f\xad!',2025-02-17 03:34:37.245824,2025-02-17 05:18:44.863501,25.000000,b'`\x0c\xff\xc3\xfeN@\xdc\x94)X\xd1R\x0f\xad!',True,1.0,b'\x00\x00\x00\x00\t\x00\x00\x00\xff\x06\n\x04'
4,b'\x00\x15;{\xd06E\xa1\x92\xd0\xef\\\xf48 \xba',b'\x06|z\xbc]\xa1M+\xa6\x1b5\x83\xea\xed\x11m',2025-08-11 16:39:18.579058,2025-08-11 16:40:06.722838,25.000000,b'\x06|z\xbc]\xa1M+\xa6\x1b5\x83\xea\xed\x11m',True,1.0,b'\x00\x00\x00\x00\x03\x00\x00\x00\xa0\xdf\xed...

In [149]:
# Extract list of user IDs that have both first advances and labels available 
user_ids = merged_df['user_id']
user_ids.to_csv('data/user_ids.csv', index=False, header=True)

In [116]:
transactions_sorted = transactions_df.sort_values(['user_id', 'date'])
transactions_sorted.head(10)
print(transactions_sorted['primary_category'].nunique())

# print unique values
print(transactions_sorted['primary_category'].unique())

17
['TRANSFER_OUT' 'TRANSPORTATION' 'TRANSFER_IN' 'FOOD_AND_DRINK'
 'GENERAL_MERCHANDISE' 'BANK_FEES' 'ENTERTAINMENT' 'GENERAL_SERVICES'
 'TRAVEL' 'INCOME' 'PERSONAL_CARE' 'MEDICAL' 'LOAN_PAYMENTS'
 'RENT_AND_UTILITIES' 'GOVERNMENT_AND_NON_PROFIT' 'HOME_IMPROVEMENT'
 'OTHER']

In [ ]:
transactions_sorted = transactions_df.sort_values(['user_id', 'date'])
transactions_filtered = transactions_sorted[transactions_sorted['user_id'].isin(first_advances['user_id'])]

categories = transactions_sorted['primary_category'].unique().tolist()
categories.remove("TRANSFER_IN") # we are only concerned with outflows
categories.remove("INCOME")

spending = transactions_sorted[(transactions_sorted['primary_category'].isin(categories)) & (transactions_sorted['amount'] > 0)]
spending.groupby(['user_id', 'primary_category'])['amount'].sum().reset_index()

spending_agg = spending.groupby(['user_id', 'primary_category'])['amount'].sum().reset_index()

spending_wide = spending_agg.pivot( 
    index='user_id',
    columns='primary_category',
    values='amount'
).fillna(0)

spending_wide['total_spending'] = spending_wide.sum(axis=1)

category_columns = categories

spending_pct = spending_wide.copy()

for col in category_columns:
    if col in spending_pct.columns:
        # Divide by total to get proportion (0 to 1)
        spending_pct[col] = spending_pct[col] / spending_pct['total_spending']
    else:
        # If category doesn't exist, add it with zeros
        spending_pct[col] = 0

# Reset index to make user_id a column
spending_pct = spending_pct.reset_index()

# Handle users with no spending (all zeros) - fill NaN with 0
spending_pct = spending_pct.fillna(0)

In [163]:
spending_pct.head(20)

primary_category,user_id,BANK_FEES,ENTERTAINMENT,FOOD_AND_DRINK,GENERAL_MERCHANDISE,GENERAL_SERVICES,GOVERNMENT_AND_NON_PROFIT,HOME_IMPROVEMENT,LOAN_PAYMENTS,MEDICAL,OTHER,PERSONAL_CARE,RENT_AND_UTILITIES,TRANSFER_OUT,TRANSPORTATION,TRAVEL,total_spending
0,b'\x00\x0e}Y\x01TD\xd6\x83\xd8\xed5\x1e\x8e\xa...,0.001552,0.010644,0.019749,0.030103,0.024467,0.001243,0.000000,0.009573,0.004003,0.0,0.000374,0.023749,0.787817,0.037645,0.049080,26703.45
1,b'\x00\x1d\x9a#9\xd6Aw\xa6M\xa0\x9cv3\xf7]',0.001191,0.012049,0.066477,0.038679,0.166139,0.006526,0.000494,0.519708,0.000238,0.0,0.014362,0.037680,0.109935,0.010975,0.015547,50012.70
2,"b'\x00""!6\xcd\x0eE\x14\x96\x80\x8c\x1e\x04\xf4...",0.002736,0.061065,0.248913,0.202360,0.056622,0.007406,0.000000,0.081990,0.005087,0.0,0.078398,0.000000,0.143703,0.111720,0.000000,2466.89
3,b'\x00%Z7L\xd2DU\x94\xe02T\xb1\xa8\xe5^',0.013034,0.002137,0.049504,0.021734,0.051260,0.000000,0.000000,0.057691,0.000000,0.0,0.198099,0.000000,0.553411,0.038532,0.014597,2808.04
4,b'\x004\xaa\xe1g\x93D\xe7\x9c\x89\x80\x12\rH\x...,0.000120,0.000120,0.002909,0.001291,0.002310,0.000000,0.000129,0.035352,0.000000,0.0,0.000000,0.000000,0.931040,0.026729,0.000000,33296.59
5,b'\x00:\xc2\xbf8!Kx\x9a\x9f\x89\xd6\xe2\x07\x0...,0.001751,0.015853,0.061469,0.138674,0.032244,0.005550,0.002224,0.305430,0.000159,0.0,0.004780,0.000147,0.389321,0.010458,0.031940,194826.15
6,"b""\x00G\n\xf0\xca'FB\x85c\x9f\x9c\xfb\x18\x90\...",0.025704,0.000000,0.061410,0.205624,0.023497,0.000000,0.000000,0.384666,0.010470,0.0,0.073553,0.000000,0.183307,0.031770,0.000000,8170.02
7,b'\x00N\xc0W\xc3\\F\xa0\x82=\x7f\xff?n$\xbb',0.002929,0.362982,0.018654,0.042169,0.052364,0.003204,0.000000,0.226572,0.000000,0.0,0.000130,0.018859,0.216713,0.055210,0.000212,61216.94
8,b'\x00Z\xf4\x93\x1d\xb2OZ\x81va\x8b\xed\xce\xb...,0.001755,0.144737,0.143026,0.083552,0.019634,0.000000,0.000288,0.128038,0.003253,0.0,0.010954,0.000398,0.377712,0.072632,0.014020,25103.39
9,"b'\x00b\xee/\xd0tA\xe3\xb5\x17EO""\xab\x14\xa9'",0.017833,0.021977,0.256663,0.006289,0.000000,0.000000,0.000000,0.147934,0.000000,0.0,0.000000,0.000000,0.516950,0.015449,0.016904,2591.76
10,b'\x00\x88\xac(l\xb6OR\xb4QT]\x1eb\xa3K',0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.800000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.05
11,b'\x00\x99\x03n8\x96M\xf9\x9aA\xa3\xccZ\xed\xc...,0.000000,0.036261,0.015804,0.051406,0.042730,0.000000,0.000000,0.314065,0.008063,0.0,0.004363,0.014074,0.450864,0.062369,0.000000,8022.61
12,b'\x00\xab\xe8\x8b\xd1\xc4F\x10\x95Ac\x0f\xb6\...,0.006631,0.030990,0.117181,0.075298,0.019168,0.000000,0.000000,0.133774,0.000000,0.0,0.012098,0.043731,0.515925,0.045204,0.000000,5579.57
13,b'\x00\xacm\xa2\x9b\xddFO\xbd\x9d>2\x07\xa9.e',0.012967,0.000378,0.041413,0.077105,0.003137,0.000000,0.000306,0.338192,0.000000,0.0,0.000000,0.033480,0.450490,0.042532,0.000000,14106.39
14,b'\x00\xb4\x11\x8e\xfb\xf5K\xcf\xb6\x05\xbf\x8...,0.002673,0.005292,0.086983,0.035393,0.007482,0.000000,0.000230,0.532463,0.000000,0.0,0.006328,0.002586,0.280849,0.039722,0.000000,23198.69
15,b'\x00\xba\x10\x9e\x11\xb4O\xd4\xb9G\xb0\xc2Y\...,0.010004,0.188933,0.184946,0.067748,0.026591,0.015960,0.000000,0.056845,0.009971,0.0,0.029540,0.000000,0.358935,0.034017,0.016511,3571.48
16,b'\x00\xc0\x13\xf8\xfa%O\x96\x99\x1b\x1cHl\xf4...,0.012213,0.151069,0.087456,0.007790,0.013988,0.001161,0.000000,0.301135,0.004690,0.0,0.000073,0.000000,0.375435,0.044991,0.000000,48123.46
17,b'\x00\xd7\xb2!\xdf\xf4C\x14\x960\xe2\x15\xa6\...,0.005606,0.021892,0.089241,0.109729,0.049077,0.017130,0.000000,0.098923,0.001219,0.0,0.002894,0.000241,0.477723,0.080834,0.045492,12843.04
18,b'\x00\xdc\xec\x11(\x92J\xe9\x80_\xfc\xf8\xb3tVQ',0.002552,0.000000,0.103948,0.220954,0.001159,0.000000,0.000000,0.132283,0.000000,0.0,0.000000,0.000000,0.533698,0.005405,0.000000,12928.63
19,b'\x00\xdfA\xf9\x1c.N\xe7\xbf\xe4(-\x06\x01\xf...,0.014674,0.003016,0.107904,0.047510,0.024939,0.000000,0.000000,0.069141,0.016460,0.0,0.031885,0.108928,0.561224,0.014320,0.000000,29030.71